<?xml version="1.0"?>
<config>
    <modules>
        <Wee_DeveloperToolbar>
            <version>1.0.5</version>
        </Wee_DeveloperToolbar>
    </modules>
    <global>
        <blocks>
            <wee_developertoolbar>
                <class>Wee_DeveloperToolbar_Block</class>
            </wee_developertoolbar>
        </blocks>
        <helpers>
            <wee_developertoolbar>
                <class>Wee_DeveloperToolbar_Helper</class>
            </wee_developertoolbar>
        </helpers>
        <resource>
            <connection>
                <types>
                    <pdo_mysql>
						<adapter/>
                        <class>Wee_DeveloperToolbar_Model_Resource_Type_Db_Pdo_Mysql</class>
                    </pdo_mysql>
                </types>
            </connection>
        </resource>
        <events>
        	<controller_action_layout_render_before>
        		<observers>
        			<wee_developertoolbar_observer_1>
        				<class>Wee_DeveloperToolbar_Model_Observer</class>
        				<method>removeCoreProfilerBlock</method>
        			</wee_developertoolbar_observer_1>
        		</observers>
        	</controller_action_layout_render_before>
        	<core_block_abstract_to_html_after>
				<observers>
					<techgento_profiler_observer_2>
						<class>Wee_DeveloperToolbar_Model_Observer</class>
						<method>addBlockInfosToDisplay</method>
					</techgento_profiler_observer_2>
				</observers>
			</core_block_abstract_to_html_after>
        	<http_response_send_before>
				<observers>
					<techgento_profiler_observer_3>
						<class>Wee_DeveloperToolbar_Model_Observer</class>
						<method>displayDeveloperToolbar</method>
					</techgento_profiler_observer_3>
				</observers>
			</http_response_send_before>
        </events>
    </global>
    <frontend>
        <routers>
            <wee_developertoolbar>
                <use>standard</use>
                <args>
                    <module>Wee_DeveloperToolbar</module>
                    <frontName>developertoolbar</frontName>
                </args>
            </wee_developertoolbar>
        </routers>
        <layout>
            <updates>
                <wee_developertoolbar>
                    <file>wee_developertoolbar.xml</file>
                </wee_developertoolbar>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
    	<layout>
            <updates>
                <wee_developertoolbar>
                    <file>wee_developertoolbar.xml</file>
                </wee_developertoolbar>
            </updates>
        </layout>
    </adminhtml>
</config>